.main {
    background-image: url("../../Assets/Images/Login/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center; /* Vertically center content */
}

.loginContainer {
    margin-left: 50px; /* Adjust the left margin to push the form to the left */
}

.loginForm {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1em;
    box-shadow: 3px 3px 10px gray;
    padding: 20px 100px 40px 100px;
    background-color: white;
}

.loginForm label {
    text-align: left; /* Align the labels to the left */
    font-weight: bold;
    display: block; /* Ensure each label occupies a full line */
    margin-bottom: 5px; /* Add some spacing between labels and inputs */
}

.loginForm img {
    width: 200px;
}

.loginForm span {
    margin-top: 20px;
    display: block;
}

.loginForm input {
    margin-bottom: 20px;
    width: 100%;
    border: solid rgb(0, 119, 255);
    border-radius: 0.3em;
    font-size: 30px;
    padding: 5px;
}

.loginForm button {
    margin-top: 20px;
    border: none;
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 10px 40px 10px 40px;
    border-radius: 0.5em;
    font-size: 30px;
    transition: 0.3s;
}

.loginForm button:hover {
    margin-top: 20px;
    border: none;
    background-color: rgb(93, 169, 255);
    color: white;
    padding: 10px 40px 10px 40px;
    border-radius: 0.5em;
    font-size: 30px;
    transition: 0.3s;
}

.loginForm button:active {
    margin-top: 20px;
    border: none;
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 10px 40px 10px 40px;
    border-radius: 0.5em;
    font-size: 30px;
    transform: scale(0.88);
    transition: 0.3s;
}